@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.logo {
  padding-top: 10px;
  width: 100px;
}

.navbar-link {
  color: black;
  font-size: 18px;
  text-decoration: none;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.navbar-link:hover {
  color: #f44336;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://www.thesportsbetexpert.com/wp-content/themes/astra-child-sbe/../../uploads/background-home-hero-xl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  text-align: center;
  height: 500px;
  line-height: 6vh;
}

.hero h1 {
  color: white;
  font-weight: 700;
  font-size: 5rem;
  margin: 0;
  padding: 0%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
  color: white;
  font-size: 18px;
  font-weight: 500;
}


.benefits {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: -50px;
  margin-bottom: 50px;
}

.benefit {
  background: linear-gradient(to bottom, #00BF63, black) !important;
  margin: 0 20px;
  width: 375px !important;
}

.benefits div {
  width: 30%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.benefit h3 {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.benefit p {
  font-size: 16px;
  color: #d9d9d9;
}

.consistency-matters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 1350px;
}

.consistency-matters h1 {
  font-size: 4rem;
}

.consistency-matters p {
  font-size: 20px;
}

.img-text {
  display: flex;
  flex-direction: row;
}

.winner {
  width: 500px;
  border-radius: 10%;
}

.text-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.text-button h2 {
  font-size: 3rem;
}

.get-picks {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #00BF63;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-picks:hover {
  background-color: #00a354;
}

.plans, .testimonials {
  margin-top: 50px;
  margin-bottom: 50px;
}

.plans h1, .testimonials h1 {
  font-size: 4rem;
  padding: 0 auto;
  margin: 0 auto;
}

.plans p, .testimonials p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}

.plans-container, .testimonials-container {
  display: flex;
  justify-content: center;
}

.day, .week, .month {
  background: linear-gradient(to bottom, #00BF63, black) !important;
  border-radius: 5%;
  color: white;
  margin: 0 20px;
  width: 425px !important;
  padding-bottom: 25px;
}

.month h2 {
  font-size: 32px;
}

.week h2 {
  font-size: 32px;
}

.day h2 {
  font-size: 32px;
}

.test {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f4f4f4;
  border-radius: 5%;
}

.testimonials-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.testimonial {
  flex: 0 0 100%;
  animation: testimonialScroll 18s infinite linear;
  white-space: nowrap;
}

@keyframes testimonialScroll {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 80% {
    transform: translateX(-100%);
  }
}


.plans-container button {
display: inline-block;
  margin: 0 auto;
  width: 200px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #00BF63;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plans-container button:hover {
  background-color: #00a354;
}

.footer-above {
  background-color: #f4f4f4;
}

.footer {
  background-color: #333333;
  padding: 20px;
  color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}

.footer-links li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-links li a:hover {
  text-decoration: underline;
}

