@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.logo {
  padding-top: 10px;
  width: 100px;
}

.navbar-link {
  color: black;
  font-size: 18px;
  text-decoration: none;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.navbar-link:hover {
  color: #f44336;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./images/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  text-align: center;
  height: 500px;
}

.hero h1 {
  color: white;
  font-weight: 700;
  font-size: 5rem;
  margin: 0;
  padding: 0%;
}

.hero p {
  color: white;
  font-size: 18px;
  font-weight: 500;
}


.benefits {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 50px;
}

.benefits div {
  width: 30%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.benefits h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.benefits p {
  font-size: 16px;
  color: #777;
}


.footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
